/* Mobile styles */
body {
    font-size: 14px;
}

/* Tablet styles */
@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

.navbar-link {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

/* Desktop styles */
/*@media (min-width: 1024px) {*/
/*    body {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
