/* Mobile styles */
body {
    font-size: 14px;
    background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
    color: #222831;
}
p {
    color: #31363F;
}

/* Tablet styles */
@media (min-width: 768px) {
    body {
        font-size: 14px;
        background-color: #EEEEEE;
    }
}
